<div class="container">
  <div class="row">
    <div class="col-md-7 sign-up-form">
      <h1>Change Your Password</h1>

      <%= form_tag password_resets_path do %>
        <div class="form-group">
          <%= label_tag :current_password, 'Current Password' %>
          <%= password_field_tag :current_password, nil, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag :new_password, 'New Password' %>
          <%= password_field_tag :new_password, nil, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag :password_confirmation, 'New Password Confirmation' %>
          <%= password_field_tag :password_confirmation, nil, class: 'form-control' %>
        </div>
        <%= submit_tag 'Change password', class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>
</div>


      <!-- <%= form_for :password_reset, url: password_resets_path, method: :POST do |f|  %>
        <div class="form-group">
          <%= f.label :current_password %>
          <%= f.password_field :current_password %>
        </div>
        <div class="form-group">
          <%= f.label :new_password %>
          <%= f.password_field :new_password %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %>
        </div>
        <%= f.submit 'Change password', class: 'btn btn-default' %>

      <% end %> -->
