<div class="container">
  <div class="row">
    <div class="col-md-8 main-title">
      <h1><%= @post.title %></h1>
    </div>
  </div>
</div>

<%= image_tag 'main.jpg', class: 'img-responsive', id: 'main' %>

<div class="container">
  <div class="row">
    <div class="col-md-8 main-post">
      <p><%= @post.body %></p>
      <div class="posts-icons">

        <!-- like feature -->
        <%#= render 'like' %>

        <div class="likes">
          <%# if user_signed_in? && can?(:like, @post) %>
            <% if @post.liked_by?(current_user) %>
              <%= link_to like_path(@post.like_for(current_user)), class: 'like', method: :delete do %>
                <i class="fa fa-heart" aria-hidden="true"></i>
              <% end %>
            <% else %>
              <%= link_to post_likes_path(@post), method: :post do %>
                <i class="fa fa-heart-o" aria-hidden="true"></i>
              <% end %>
            <% end %>
          <%# else %>
            <!-- <i class="fa fa-heart-o" aria-hidden="true"></i> -->
          <%# end %>
          <h4><%= @post.likes_count if @post.likes_count > 0 %></h4>
        </div>


        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
      </div>

      <div class="post-info">
        <span>Category: <%= @post.category.name %></span>
        <span><%= time_tag @post.created_at, :format => '%B %d' %></span>
      </div>

      <% if can?(:manage, @post) %>
        <div class="post-info">
          <%= link_to 'edit', edit_post_path, class: 'btn btn-default' %>
          <%= link_to 'delete', post_path(@post),
                                method: :delete,
                                data: { confirm: 'Are you sure?' },
                                class: 'btn btn-default' %>
        </div>
      <% end %>


      <div class="author-container">
        <%= image_tag 'nari.jpg', class: 'img-circle' %>
        <div class="author-profile">
          <%= link_to @post.user.full_name %>
          <p><%= Faker::Lorem.paragraph(5) %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <% if user_signed_in? %>
      <div class="form-container col-md-8 comment-form">
        <%= form_for [@post, @comment] do |f| %>
          <div class="form-group">
            <%= f.label :body, 'Leave a comment' %>
            <%= f.text_area :body, class: 'form-control', rows: '3' %>
          </div>
          <div class="form-group">
            <%#= f.label :full_name, 'Full Name', class: 'control-label' %>
            <%#= f.text_area :full_name, class: 'form-control' %>
            <label for="full-name" class="control-label">Full Name</label>
            <input type="text" class="form-control">
            <%= f.submit 'Publish', class: 'btn btn-default btn-right' %>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if @post.comments.present? %>
      <% @post.comments.each do |comment| %>
        <div class="col-md-7 col-md-offset-3 comment-container">
          <div class="comment-box">
            <%= image_tag 'dan.jpg', class: 'img-circle' %>
            <div class="comment-info">
              <%= link_to comment.user.full_name %>
              <span><%= time_tag comment.created_at, :format => '%B %d' %></span>
            </div>
            <% if can?(:destroy, comment) %>
              <%= link_to 'Delete', comment_path(comment),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class: 'delete-btn' %>
            <% end %>
          </div>
        <p><%= comment.body %></p>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
