<div class="container post-main">
  <h1>Post Title</h1>
  <%= image_tag Faker::LoremPixel.image %>
  <!-- <div class="row"> -->
    <!-- <div class="col-md-8"> -->

      <p><%= Faker::Lorem.paragraph(20) %></p>
      <h4>Post Date</h3>
      <div class="posts-icons">
        <div class="likes">
          <i class="fa fa-heart-o" aria-hidden="true"></i>
          <h4>Likes Count</h4>
        </div>
        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
      </div>

      <h4>Post Category</h4>
      <div class="author-container">
        <%= image_tag Faker::LoremPixel.image %>
        <div class="author-profile">
          <a href="#"><h3>Author Name</h3></a>
          <p><%= Faker::Lorem.paragraph(5) %></p>
        </div>
      </div>
    <!-- </div> -->
    <div class="container-fluid comments-container">
      <form>
        <div class="form-group">
          <label for="comment">Leave a comment</label>
          <textarea class="form-control" rows="3"></textarea>
        </div>
      </form>
      <form class="form-horizontal">
        <div class="form-group">
          <label for="full-name" class="col-sm-2 control-label">Full Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control">
          </div>
        </div>
      </form>

      <% 4.times do %>
        <div class="col-md-11 col-md-offset-1 comment">
          <%= image_tag Faker::LoremPixel.image %>
          <p><%= Faker::Lorem.paragraph(5) %></p>
          <div class="comment-info">
            <h4>Comment Author Name</h4>
            <h4>Comment Date</h4>
          </div>
        </div>
      <% end %>
    </div>
</div>
